body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.entry-poster {
    float: left;
    margin: 0 10px 10px 0;
}
.entry-name {
    margin-top: 0px;
    height: 26px;
    overflow: hidden;
}

.entry-plot {
    height:140px;
    line-height:20px;
    overflow:hidden;
}